body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #f8f9fa;
  height: 100px;
  width: 100%;
}
.logo{
  display: flex;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}
